<%- include('partials/header.ejs') %>

  <main>

    <section class="blog-post">
      <div>
        <% posts.forEach(item=> { %>
          <div class="postContainer">
            <h2><%= item.post_title %></h2>

            <% if (currentUser && currentUser.role === "admin") { %>
              <a href="/post/<%= item.post_id %>/edit" class="Button">Edit</a>
            <% } %>

            <p class="date"><%= item.created_at %></p>
            <p class="author"><%= item.user_id %></p>
            <p class="content">
              <%= item.post_content %>
            </p>
          </div>
          <% }) %>

          <% comments.forEach(item=> { %>
          <div class="commentContainer">
            <h2><%= item.commentContent%></h2>
            <p class="date"><%= item.created_at %></p>
            <p class="author"><%= item.user_id %></p>
            <% if (currentUser === item.user_id) { %>
              <a href="/comment/<%= item.comment_id %>/edit" class="Button">Edit</a>
            <% } %>

            <% if (currentUser === item.user_id || currentUser.role === "admin") { %>
              <a href="/comment/<%= item.comment_id %>/delete" class="Button">Delete</a>
            <% } %>

          </div>
          <% }) %>
          
          <div class="commentForm">
            <form action="/comment/create" method="POST">
              
            </form>
          </div>

      </div>
    </section>

  </main>

  <%- include('partials/footer.ejs') %>