<%- include('partials/header.ejs') %>

<main>

    <section class="blog-post">
        <div class="postContainer">
          <h2><%= posts.post_title %></h2>
          <p class="date">Last updated: <%= posts.created_at %></p>
          <p class="author">Author: <%= posts.user_id %></p>
          <p class="content"><%= posts.post_content %> </p>
    </section>

</main>

<%- include('partials/footer.ejs') %>
